.success .errer .removed {
  color: white;
  padding: 5px;
  margin: 15 auto;
}
.success {
  background-color: green;
}
.error {
  background-color: red;
}
.removed {
  background-color: greenyellow;
}
